@font-face {
  font-family: 'proxima_nova_reg';
  font-style: normal;
  font-weight: 400;
  src: local('proxima_nova_reg'), url(proxima_nova_reg.woff) format('woff');
}

@font-face {
  font-family: 'proxima_nova_thin';
  font-style: normal;
  font-weight: 400;
  src: local('proxima_nova_thin'), url(proxima_nova_thin.woff) format('woff');
}

@font-face {
  font-family: 'proxima_nova_cond_sbold';
  font-style: normal;
  font-weight: 400;
  src: local('proxima_nova_cond_sbold'), url(proxima_nova_cond_sbold.woff) format('woff');
}

html, body {
  margin: 0;
  height: 100%;
  background: url('../images/bgTexture.png');
/*  background: #444;
*/}

body {
  overflow: scroll;
/*  background-size: 270px 215px, 100%;
*/  font-family: 'proxima_nova_reg', sans-serif;
}

#top_nav {
  background: #666;
  display: none;
}

#logo {
  background: #4e4e4e;
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-right: 60px;
}

#logo img { position: relative;top: 25px;left: 22px; }

.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  background: black;
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.number { position: absolute; top: 3px; left: 5px;}
.first-num { left: 6px;}

.nav-inst {
  display: inline-block;
  position: relative;
  top: 22px;
  margin: 0px 45px;
}

.inst-text {
  color: white;
  display: inline-block;
  top: -10px;
  position: relative;
  margin-left: 5px;
  font-size: 16px;
}

.auto-copy { 
  font-size: 12px;
  color: #bbb;
  position: absolute;
  width: 170px;
  left: 38px;
  top: 23px;
}

#nav_bar {
  display: none;
  font-family: "proxima_nova_reg", Helvetica, Arial;
  color: #CCC;
  font-size: 18px;
  background: #e6e6e6;
  color: #444;
  padding: 10px;
  border: 2px solid #999;
}

#selected_collection {
  font-family: "proxima_nova_cond_sbold", Helvetica, Arial;
  color: #3D3D3D;
}

#drag_drop_image {
  position: absolute;
  left: 50%;
  margin-left: -183px;
  top: 175px;
}

#collection_dropdown {
  list-style: none;
  position: absolute;
  top: 107px;
  background: white;
  border-radius: 2px;
  color: #666;
  padding: 10px 0px;
  left: 5px;
  z-index: 6;
  border: 1px solid #888;
  overflow: scroll;
  max-height: 500px;
}

#collection_dropdown li {
  padding: 5px 20px;
}

#collection_dropdown li:hover { background: #03A2DB; cursor: pointer; color: white;}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #3d3d3d;
  display: inline-block;
  margin-left: 3px;
}

#logout {
/*  float: right;
  color: #3D3D3D;
  font-size: 16px;
  font-family: "proxima_nova_cond_sbold", Helvetica, Arial;*/
}

#logout:hover { cursor: pointer; }

#sign_up_box {
  border-radius: 5px;
  background: white;
  left: 50%;
  margin-left: -275px;
  width: 450px;
  position: absolute;
  top: 50px;
  height: auto;
  padding: 50px;
  font-family: 'proxima_nova_reg', sans-serif;
}

.simple-text {
  color: #888;
  font-size: 26px;
  text-align: center;
  margin-bottom: 22px;
  font-family: 'proxima_nova_thin', sans-serif;
}

.or-login {
  color: #999;
  font-size: 13px;
  right: 1px;
  display: inline-block;
  top: -15px;
  position: relative;
}

#or_text {
  color: #999;
  font-size: 16px;
  margin-right: 5px;
}

.google-login {
  width: 211px;
  display: inline-block;
  margin-bottom: 27px;
}

.google-login:hover {cursor:pointer;}


.mq-shots-logo {
  width: 170px;
  margin: 0 auto;
}

.screenshots {
  font-family: 'proxima_nova_thin', sans-serif;
  color: #81B9DA;
  font-size: 44px;
  margin: -8px auto 20px;
  width: 240px;
}

.input-field{
  width: 213px;
  padding: 9px 0px 9px 15px;
  border: 1px solid #959595;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-bottom: 15px;
  font-size: 16px;
  background: #e3dddd;
  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.16);
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.16);
  font-family: "proxima_nova_reg", Helvetica, Arial;
}

#sign_up_box {
  display: none;
}

#login_form {
  display: none;
}

.signup-line {
  height: 1px;
  width: 550px;
  background: #ddd;
  position: relative;
  left: -50px;
  margin-bottom: 25px;
}

.submit-button {
  background-color: #1aa8e1;
  background-image: linear-gradient(to bottom, #1aa8e1, #129ae0);
  width: 100%;
  font-size: 20px;
  color: white;
  font-weight: 100;
  padding: 13px 15px 11px;
  margin-top: 5px;
  border: 1px solid #4c4c4c;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.44),inset 0px 1px 3px 0px rgba(255,255,255,0.44);
  font-family: "proxima_nova_cond_sbold", Helvetica, Arial;
  border-radius: 5px;
}

#dropzone_form {
  display: none;
  z-index: 5;
  position: relative;
}

nav:hover #close-button {
  opacity: 1;
}

#close-button {
  float: right;
  padding: 0 5px 2px 5px;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
}

.date {
  float: right;
}

.left-input { margin-right: 20px; }

.account-text {
  text-align: center;
  position: relative;
  bottom: -24px;
  color: #999;
  font-size: 14px;
}

.account-text span{
  text-decoration: none;
  color: #1aa8e1;
}

.account-text span:hover {cursor:pointer;}

#short_url { display:block; opacity: 0; }

#recent_uploads { display:none; }

#recent_uploads {
  color: #ccc;
  font-size: 16px;
  margin: 27px 27px 15px;
}

.new-upload-url {
  position: absolute;
  top: 147px;
  left: -20px;
  text-decoration: none;
  color: #1aa8e1;
}

.new-upload-url:hover { cursor: pointer;}

#loading {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -14px;
  bottom: 46px;
}

#settings_icon {
  float: right;
  opacity: 0.8;
}

#settings_dropdown {
  position: absolute;
  background: #fff;
  right: 5px;
  top: 103px;
  list-style: none;
  padding: 0px;
  font-size: 16px;
  border: 1px solid #999;
  z-index: 7;
  display: none;
}

#settings_dropdown li {
  color: #3D3D3D;
  font-size: 16px;
  font-family: "proxima_nova_cond_sbold", Helvetica, Arial;
  padding: 10px;
}

#settings_dropdown li:hover { background: #03A2DB; cursor: pointer; color: white;}

#invalid { 
  display: none;
  color: red;
  position: absolute;
  bottom: 51px;
  font-size: 16px;
  left: 50%;
  margin-left: -144px;
}

.new-image-link { color: #222;}
.new-image-link:hover { cursor: pointer;}

#back_to_uploader {
  background: -webkit-linear-gradient(#9B9B9B, #686868);
  border: 1px solid #666;
  padding: 8px 10px 11px;
  font-size: 14px;
  color: white;
  text-shadow: 0.2em 0.1em #444;
  font-family: "Helvetica Neue", Helvetica, Arial;
  right: 0px;
  position: relative;
  display: none;
}
#back_to_uploader:hover { cursor: pointer; }

#back_btn { 
  margin-right: 10px;
  margin-left: 5px;
  position: relative;
  top: 3px;
}

#webview_spinner_box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 5px;
  display: none;
}

#spinner_webview {
  position: relative;
  top: 27%;
  left: 26%;
}

#webview {
  right: -900;
  position: absolute;
}

