<html data-ng-app="marqueedApp" ng-csp="">
<head>
<meta charset="utf-8" />
<title>Marqueed Screenshots!</title>
<link rel="stylesheet" media="all" href="css/main.css">
<link rel="stylesheet" media="all" href="css/dropzone.css">
<base target="_blank">
</head>
<body ng-controller="MarqueedController" ng-init="init()">

<div id="back_to_uploader" ng-click="backUploader()">
  <img src="images/arrow_back.png" id="back_btn"> BACK TO THE UPLOADER
</div>

<section id="main" >

  <div id="top_nav">
    <div id="logo"><img src="images/logo.png"/></div>
    <div class="nav-inst">
      <div class="circle"><div class="number"><div class="number first-num">1</div></div></div>
      <div class="inst-text">Drop a file</div>
    </div>
    <div class="nav-inst">
      <div class="circle"><div class="number"><div class="number">2</div></div></div>
      <div class="inst-text">Share a link to it</div>
      <div class="auto-copy">Auto-copied to your clipboard</div>
    </div>
    <div class="nav-inst">
      <div class="circle"><div class="number"><div class="number">3</div></div></div>
      <div class="inst-text">Start discussing</div>
    </div>
  </div>

  <div id="nav_bar">
    <div id="settings_icon"><img id="show_settings" src="images/settings.png"></div>
    <ul id="settings_dropdown">
      <li id="tab_setting" ng-click="changeTabSetting()">Auto-open image: <span id="tab_on_off">ON</span></li>
      <li id="logout" ng-click="logoutUser()">Sign Out</li>
    </ul>
    <div id="collection_dropdown_box">
      <span id="selected_collection" data-collection-id="" ng-click="show_settings = !show_settings">
        From my computer <div class="arrow-down"></div>
      </span>
      <ul id="collection_dropdown" ng-show="show_settings"></ul>
    </div>
    <img id="drag_drop_image" src="images/emptyStateImage.png">
  </div>

  <div id="sign_up_box">
    <div class="mq-shots-logo"><img src="images/mq_logo.png" width="170px"></div>
    <div class="screenshots">Screenshots!</div>
    <div class="simple-text">The easiest way to share screenshots</div>
    <div class="signup-line"></div>
    <div class="google-login"><img src="images/google_login.png" width="195px" ng-click="googleLogin()"></div>
    <div class="or-login"><span id="or_text">OR</span> <span id="via_account">login via your Marqueed account</span></div>

    <div id="login_form">
      <form ng-submit="loginUser()">
        <input id="login_email"  class="input-field left-input" placeholder="EMAIL" size="30" type="email" value="">
        <input id="login_password" class="input-field" name="user[password]" placeholder="PASSWORD" size="30" type="password">
        <input class="login-submit submit-button" name="commit" type="submit" value="LOGIN">
      </form>
      <div class="account-text">No account? <span id="signup_account" ng-click="showSignupForm()">SIGN UP</span></div>
    </div>

    <div id="signup_form">
      <form ng-submit="signupUser()">
        <input id="signup_first_name" class="input-field left-input" name="user[first_name]" placeholder="FIRST NAME" size="30" type="text">
        <input id="signup_last_name" class="input-field" name="user[last_name]" placeholder="LAST NAME" size="30" type="text">
        <input id="signup_email" class="input-field left-input" placeholder="EMAIL" size="30" type="email" value="">
        <input id="signup_password" class="input-field" name="user[password]" placeholder="PASSWORD" size="30" type="password">
        <input class="signup-submit submit-button" name="commit" type="submit" value="SIGN UP">
      </form>
      <div class="account-text">Got an account? <span id="login_account" ng-click="showLoginForm()">LOGIN</span></div>
    </div>

    <div id="invalid">Invalid Email or Password, please try again</div>
    <img src="images/loading.gif" id="loading">

  </div>

  <div id="recent_uploads">Recently Uploaded:</div>

  <form action="https://marqueed.s3.amazonaws.com/" method="post" class="dropzone" id="dropzone_form">
    <input name="key" type="hidden" value="preprocess/1234567890/1234567890" id="s3_key">
    <input name="acl" type="hidden" value="public-read">
    <input name="policy" type="hidden" value="#encoded policy goes here#" id="s3_policy">
    <input name="signature" type="hidden" value="<<signature goes here>>" id="s3_sig">
    <input name="content-type" type="hidden" value="application/octet-stream">
    <input name="AWSAccessKeyId" type="hidden" value="AKIAIBY5KP2CPTSJ7M5Q">
    <input name="success_action_status" type="hidden" value="201">
  </form>

  <a id="save_image" ng-click="saveImage()"></a>
  <input id="short_url" value="">

</section>

<div id="webview_spinner_box"><img src="images/loading.gif" id="spinner_webview"></div>

<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/angular_1.0.7.min.js"></script>
<script src="js/app.js"></script>
<script src="js/dropzone.js"></script>

</body>
</html>